<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="presentModal()">Show Modal</ion-button>
  <ion-button expand="block" (click)="downlaodVuforia()">Download</ion-button>
  <p>{{progress | percent}}</p>
  <p>{{installing | percent}}</p>
  <ion-button color="secondary" (click)="playCard(c.file)" *ngFor="let c of targetList">{{c.file}}</ion-button>
  <ion-button color="dark" (click)="downloadSingleCard(c.file, c.url)" *ngFor="let c of targetList">{{c.file}}</ion-button>
  <ion-button color="danger" (click)="removeSingleCard(c.file)" *ngFor="let c of targetList">{{c.file}}</ion-button>
</ion-content>
